# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* Difference and usage of markdown and code cells in Python
* List popular languages for Data Science
* How to create ordered and unordered lists in Python
* How to create tables in Python
* Simple arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libreries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatplotLib
4. ggplot2

|Data Science Tools|
|--------------------|
|JupyterLite|
|JupyterLab|
|Apache Spark|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Jana Seidelov√°